/**
 * @name Mist Theme
 * @author Haneesh Raj
 * @description It's just a dark theme with some epic animations
 * @version 0.0.1
 */

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

:root {
  --mist-accent-color: rgb(81, 112, 226);
  --candy-color: rgb(169, 88, 189);
  --sneha-color: rgb(125, 76, 208);
  --mist-background-primary: #1f1f1f;
  --mist-background-primary-alt: #2c2c2c;
  --mist-background-secondary: #1a1a1a;
  --mist-background-tertiary: #141414;
  --mist-background-quaternary: #0e0e0e;
  --mist-list-item-hover: rgba(94, 94, 94, 0.3);
  --mist-highlight: rgba(16, 38, 116, 0.104);
}

/* !Home */

/* ?Sidebar */

.sidebar-1tnWFu {
  width: 17rem;
  background: var(--mist-background-secondary);
}

.privateChannels-oVe7HL {
  background: var(--mist-background-secondary);
}

/* *Server bar */

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper-3kah-n.selected-1Drb7Z .childWrapper-1j_1ub,
.wrapper-3kah-n:hover .childWrapper-1j_1ub {
  background-color: var(--mist-accent-color);
}

.wrapper-3kah-n:hover .homeIcon-r0w4ny {
  animation: spin 900ms cubic-bezier(0.61, -0.34, 0.17, 1.22);
}
/* *Search */

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  background-color: var(--mist-background-tertiary);
}

.theme-dark .scroller-WSmht3 {
  background-color: var(--mist-background-secondary);
}

.searchBar-3TnChZ {
  padding: 0;
  height: 4rem;
}

.searchBar-3TnChZ .searchBarComponent-3N7dCG {
  height: 100%;
  border-radius: 0;
  padding: 1rem;
  transition: color 200ms, padding-left 200ms;
}

.searchBar-3TnChZ:hover .searchBarComponent-3N7dCG {
  color: #fff;
  padding-left: 1.5rem;
}

.privateChannelsHeaderContainer-1UWASm {
  transition: 200ms;
  margin-bottom: 0.8rem;
}

.headerText-1qIDDT {
  order: -1;
}

/* *Friend List Item */

.channel-1Shao0 {
  margin-left: 0;
  max-width: 100%;
}

.container-32HW5s {
  padding: 0;
  border-radius: 0;
  position: relative;
}

.interactive-iyXY_x {
  padding-block: 0.5rem;
  padding-left: 1rem;
}

.interactive-26HRN_,
.avatar-1HDIsL {
  transition: all 200ms;
}

.interactive-26HRN_:focus-within,
.interactive-26HRN_:hover,
.interactive-26HRN_:active,
.interactiveSelected-29CP8y {
  background: linear-gradient(
    90deg,
    rgba(94, 94, 94, 0.3) 0%,
    transparent 100%
  );
}

.avatar-1HDIsL {
  margin-right: 1rem;
  transform: scale(1.1);
}
.interactive-26HRN_:focus-within .avatar-1HDIsL,
.interactive-26HRN_:hover .avatar-1HDIsL {
  margin-right: 1.3rem;
  transform: scale(1.2);
}

/* *User Area */

.container-YkUktl {
  height: 5rem;
  padding: 0 0.75rem;
  justify-content: space-between;
}
.theme-dark .container-YkUktl {
  background: var(--mist-background-quaternary);
}
.button-12Fmur.enabled-9OeuTA {
  border-radius: 50%;
}
.button-12Fmur.enabled-9OeuTA:not(:last-child) {
  margin-right: 6px;
}

/* ?Friend List */

.container-2cd8Mz {
  background: var(--mist-background-primary);
}

/* *Top bar */

.theme-dark .themed-Hp1KC_ {
  background-color: var(--mist-background-tertiary);
}

.theme-dark .children-3xh0VB:after {
  background: none;
}

.container-ZMc96U {
  height: 4.05rem;
}

.children-3xh0VB {
  flex: 1 !important;
}

.tabBar-ra-EuL .item-3mHhwr {
  padding: 0.5rem 1rem;
}

.topPill-2vcLsa .item-2GWPIy {
  transition: all 200ms;
}

.divider-q3P9HC {
  margin-inline: 1rem;
}

.children-3xh0VB {
  flex: 0 1 auto;
  margin-left: 1rem;
}

.title-17SveM,
.toolbar-3_r2xA {
  margin-right: 0.25rem;
}

.container-ZMc96U {
  justify-content: space-between;
}

/* *Search bar */

.inner-2pOSmK {
  justify-content: space-between;
}

.searchBar-2aylmZ {
  margin: 1rem 3.5rem;
  margin-top: 2rem;
  border-radius: 6px;
  padding-inline: 2rem;
  background-color: var(--mist-background-tertiary);
}

.medium-2NClDM .input-2m5SfJ {
  padding: 1.5rem 0rem;
}

.input-2m5SfJ {
  flex: 1 1 auto;
}

/* *Friend List */

.title-x4dI75 {
  margin: 1rem 4rem;
}

.peopleListItem-u6dGxF {
  border: none;
  height: 5rem !important;
  margin: 0;
  padding-inline: 4rem;
  border-radius: 0;
}

.actionButton-3-B2x- {
  background-color: var(--mist-background-secondary);
}
.text-3j8t_e,
.userInfo-2WpsYG {
  overflow: visible;
}

.avatar-2MSPKk {
  transition: all 300ms;
}

.botTag-sv50Yq,
.discordTag-3HiQI9 {
  transition: all 350ms cubic-bezier(0.4, 0, 0, 0.99);
  /* .EASE */
}

.subtext-xfubwR {
  transition: all 400ms cubic-bezier(0.8, 0, 0.18, 0.99);
}

.peopleListItem-u6dGxF:hover .botTag-sv50Yq,
.peopleListItem-u6dGxF:hover .discordTag-3HiQI9,
.peopleListItem-u6dGxF:hover .subtext-xfubwR {
  transform: translateX(0.75rem);
}

.peopleListItem-u6dGxF:hover .avatar-2MSPKk {
  transform: scale(1.2);
}

.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
  margin: 0;
  padding-inline: 4rem;
  border-radius: 0;
}

.peopleList-2VBrVI {
  margin-top: 0;
}

.peopleList-2VBrVI::-webkit-scrollbar {
  display: none;
}

.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF {
  transition: all 200ms;
}

.peopleListItem-u6dGxF.active-2UF8Zh,
.peopleListItem-u6dGxF:hover {
}
/* *Active Now Right Bar */

.nowPlayingColumn-1eCBCN {
  background: var(--mist-background-secondary);
}
.container-1oAagU {
  background: var(--mist-background-secondary);
  /* background: var(--background-secondary); */
}

.header-Imy05m {
  text-align: center;
}
.scroller-hE2gWq {
  margin-left: 0;
  border: none;
  padding-right: 1rem !important;

  /* background: var--background-secondary); */
}

.scroller-hE2gWq::-webkit-scrollbar {
  display: none;
}

.itemCard-3Etziu {
  border-radius: 6px;
  padding: 1.5rem;
  margin-top: 1rem;
  transition: transform 300ms cubic-bezier(0.38, 0.12, 0.17, 1.5);
  background-color: var(--mist-background-tertiary);
}

.theme-dark .outer-2JOHae.active-1W_Gl9,
.theme-dark .outer-2JOHae.interactive-2zD88a:hover {
  background-color: var(--mist-background-quaternary);
}

.wrapper-2RrXDg {
  border: none;
}

.headerAvatar-GgCKcl {
  transform: scale(1.1);
}
.header-3jUeHi {
  grid-gap: 1.5rem;
}

.header-3jUeHi > img {
  transform: scale(1.1);
}

.body-16rSsp {
  margin-top: 1.5rem;
}

.section-3G9aLW:only-child {
  border-radius: 4px;
  background-color: var(--mist-background-secondary);
}

.section-3G9aLW {
  padding: 1rem;
}

.textContent-TsKzji {
  transition: transform 300ms cubic-bezier(0.4, 0, 0, 0.99);
}

.itemCard-3Etziu:hover {
  transform: translateY(-0.5rem);
}

.itemCard-3Etziu:hover .textContent-TsKzji {
  transform: translateX(0.25rem);
}

.activitySection-20iylG {
  align-items: center;
}

.headerIcon-2ra-HY {
  transition: transform 300ms cubic-bezier(0.4, 0, 0, 0.99);
}

.itemCard-3Etziu:hover .headerIcon-2ra-HY {
  transform: scale(1.3);
}

/* !Chat */

/* ?Server Member list */

.container-2o3qEW {
  background: var(--mist-background-secondary);
}

.membersWrap-3NUR2t {
  min-width: 19rem;
}

.members-3WRCEx {
  width: 275px !important;
  background: var(--mist-background-secondary);
}

.members-3WRCEx::-webkit-scrollbar {
  display: none;
}

.member-2gU6Ar {
  max-width: 100%;
}
.member-48YF_l,
.members-3WRCEx {
  background: var(--mist-background-secondary);
}

.membersGroup-2eiWxl {
  padding-block: 1.25rem;
  height: auto;
}

.layout-1qmrhw {
  padding: 0.5rem;
}

.avatar-6qzftW {
  transition: transform 200ms;
}

.layout-1qmrhw:hover .avatar-6qzftW {
  transform: scale(1.1);
}

.nameAndDecorators-3ERwy2 {
  transition: all 300ms cubic-bezier(0.4, 0, 0, 0.99);
}
.activity-2EQDZv {
  transition: all 300ms cubic-bezier(0.8, 0, 0.18, 0.99);
}

.layout-1qmrhw:hover .nameAndDecorators-3ERwy2 {
  transform: translateX(0.75rem);
}

.layout-1qmrhw:hover .activity-2EQDZv {
  transform: translateX(0.75rem);
}

/* ?Server Channel list */
.wrapper-NhbLHG {
  padding: 0;
}

.theme-dark .container-1NXEtd {
  background-color: var(--mist-background-secondary);
}
.content-1gYQeQ {
  margin: 0;
  border: 0;
  padding: 0.25rem 1rem;
  border-radius: 0;
}

.modeSelected-3DmyhH .content-1gYQeQ,
.modeSelected-3DmyhH:hover .content-1gYQeQ,
.wrapper-NhbLHG:hover .content-1gYQeQ {
  background: linear-gradient(
    90deg,
    rgba(94, 94, 94, 0.3) 0%,
    transparent 100%
  );
}

.wrapper-NhbLHG .name-28HaxV {
  transition: color 200ms, transform 200ms cubic-bezier(0.4, 0, 0, 0.99);
  overflow: visible;
}

.wrapper-NhbLHG:hover .name-28HaxV {
  transform: translateX(0.5rem);
}

.mainContent-uDGa6R[aria-label*="category"] {
  text-align: left;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.children-3MeUvj {
  padding-block: 0.4rem;
  padding-right: 0.2rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0 4px 4px 0;
}

.mainContent-uDGa6R[aria-label*="category"] > .icon-3zI3d2 {
  display: none;
}

.containerDefault-3TQ5YN,
.containerDragAfter-1J_-1V,
.containerDragBefore-ei4h1m,
.containerUserOver-3woq86 {
  padding-bottom: 0.625rem;
}

.bannerImg-2PzH6z,
.bannerImage-ubW8K- {
  width: 100%;
}

/* ?Chat Layout */

.imageWrapper-oMkQl4 {
  transition: transform 200ms cubic-bezier(0.56, -0.03, 0, 1.32);
}

.imageWrapper-oMkQl4:hover {
  transform: scale(0.96);
}

.managedReactiveScroller-1LjJZ5::-webkit-scrollbar {
  background-color: var(--mist-background-primary);
}
.managedReactiveScroller-1LjJZ5::-webkit-scrollbar-track {
  background-color: var(--mist-background-primary);
}

.managedReactiveScroller-1LjJZ5::-webkit-scrollbar-thumb {
  background-color: var(--mist-background-tertiary);
}

/* ?Chat Messages */

:root {
  --accent-hue: 224;
  --accent-saturation: 71%;
  --accent-lightness: 61%;
  --message-radius: 0.5rem;
  --accent-hsl: var(--accent-hue),
    calc(var(--accent-saturation) * var(--saturation-factor)),
    var(--accent-lightness);
  --message-color: var(--mist-background-secondary); /* Message Background */
  --message-color-hover: var(
    --mist-background-primary-alt
  ); /* Message Hover Background */
  --default-animation: cubic-bezier(0.4, 0, 0.2, 1);
  --default-time: 250ms;
  --avatar-radius: 50%;
  --attachment-color: hsl(216, 7%, 9%);
  --media-radius: calc(var(--message-radius) / 1.25);
  --message-padding-top: 10px;
  --message-padding-side: 12px;
  --input-color: hsl(240, 4%, 16%);
  --input-color-alt: hsl(240, 2%, 22%);
  --shadow-3dp: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

/*
  *
  *	MESSAGES
  *
  */
.backgroundFlash-1X5jVs {
  border-radius: var(--message-radius);
}

[style].backgroundFlash-1X5jVs {
  position: relative;
  background-color: transparent !important;
}

[style].backgroundFlash-1X5jVs:before {
  position: absolute;
  content: " ";
  width: calc(100% - 78px);
  height: 100%;
  top: 0;
  left: 68px;
  border-radius: var(--message-radius);
  pointer-events: none;
  z-index: 2;
  transition: 200ms ease-out background-color;
}

.backgroundFlash-1X5jVs:not([style$="0);"]):before {
  background-color: hsla(var(--accent-hsl), 0.2);
}

[style="background-color: rgba(148, 156, 247, 0);"].backgroundFlash-1X5jVs:before {
  background-color: hsla(var(--accent-hsl), 0);
}

.messagesWrapper-RpOMA3.group-spacing-0 .groupStart-3Mlgv1 {
  --group-spacing: 0.125rem;
}

.messagesWrapper-RpOMA3.group-spacing-0 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 1px;
}

.messagesWrapper-RpOMA3.group-spacing-4 .groupStart-3Mlgv1 {
  --group-spacing: 0.3125rem;
}

.messagesWrapper-RpOMA3.group-spacing-4 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 2px;
}

.messagesWrapper-RpOMA3.group-spacing-8 .groupStart-3Mlgv1 {
  --group-spacing: 0.5625rem;
}

.messagesWrapper-RpOMA3.group-spacing-8 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 4px;
}

.messagesWrapper-RpOMA3.group-spacing-16 .groupStart-3Mlgv1 {
  --group-spacing: 1.0625rem;
}

.messagesWrapper-RpOMA3.group-spacing-16 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 8px;
}

.messagesWrapper-RpOMA3.group-spacing-24 .groupStart-3Mlgv1 {
  --group-spacing: 1.5625rem;
}

.messagesWrapper-RpOMA3.group-spacing-24 .divider-IqmEqJ.beforeGroup-1BvJAt {
  top: 12px;
}

[class*="group-spacing"].messagesWrapper-RpOMA3 .groupStart-3Mlgv1 {
  margin-top: var(--group-spacing) !important;
}

[class*="group-spacing"].messagesWrapper-RpOMA3
  .divider-IqmEqJ:not(.beforeGroup-1BvJAt) {
  top: -4px;
}

.messagesWrapper-RpOMA3 .divider-2rZFJK {
  border-top-color: var(--message-color-hover);
}

.messagesWrapper-RpOMA3 .content-3spvdd {
  padding: 4px 12px;
  border-radius: 11px;
}

.wrapper-30-Nkg {
  position: relative;
  background-color: var(--message-color) !important;
  transition: var(--default-time) var(--default-animation) background-color;
}

.wrapper-30-Nkg:hover {
  background-color: var(--message-color-hover) !important;
}

.wrapper-30-Nkg.automodMessage-265YwJ:before {
  display: none;
}

.wrapper-30-Nkg.hasThread-3h-KJV:after {
  display: none;
}

.wrapper-30-Nkg.hasThread-3h-KJV .markup-eYLPri {
  overflow: visible;
}

.wrapper-30-Nkg.hasThread-3h-KJV .container-x059i8 {
  padding: 0;
}

.wrapper-30-Nkg.hasThread-3h-KJV .iconContainer-2rPbqG {
  position: absolute;
  width: 40px !important;
  height: 40px;
  top: -8px;
  left: -62px;
  margin-right: 0;
  padding-top: 0;
  background-color: var(--message-color-hover);
  border-radius: var(--avatar-radius);
}

.wrapper-30-Nkg.hasThread-3h-KJV .container-3i3IzO {
  width: 100%;
  padding: 12px;
  background-color: var(--attachment-color);
  border-radius: var(--media-radius);
  box-sizing: border-box;
}

.wrapper-30-Nkg.hasThread-3h-KJV .cta-1XhfrG {
  color: hsl(var(--accent-hsl));
}

.wrapper-30-Nkg.groupStart-3Mlgv1 {
  position: relative;
  border-radius: var(--message-radius);
}

.wrapper-30-Nkg.groupStart-3Mlgv1 .avatar-2e8lTP {
  width: 40px;
  height: 40px;
  top: 0;
  left: -50px;
  border-radius: var(--avatar-radius);
}

.wrapper-30-Nkg.groupStart-3Mlgv1 .avatarDecoration-34OC0G {
  top: 0;
  left: -54px;
}

.wrapper-30-Nkg.groupStart-3Mlgv1.replying-eZ7p5z:before {
  display: none;
}

.wrapper-30-Nkg.ephemeral-2nDdnn a,
.wrapper-30-Nkg.replying-eZ7p5z a {
  color: hsl(var(--accent-hsl));
}

.wrapper-30-Nkg.ephemeral-2nDdnn:before {
  display: none;
}

.wrapper-30-Nkg:not(.groupStart-3Mlgv1) {
  border-radius: 0 0 var(--message-radius) var(--message-radius);
}

.wrapper-30-Nkg:not(.groupStart-3Mlgv1):before,
.wrapper-30-Nkg:not(.groupStart-3Mlgv1):after {
  content: " ";
  position: absolute;
  width: calc(var(--message-radius) / 3);
  height: calc(var(--message-radius) / 2);
  top: calc(var(--message-radius) / 2 * -1);
  background-color: var(--message-color);
  pointer-events: none;
  transition: var(--default-time) var(--default-animation) background-color;
}

.wrapper-30-Nkg:not(.groupStart-3Mlgv1):before {
  left: 0;
}

.wrapper-30-Nkg:not(.groupStart-3Mlgv1):after {
  right: 0;
}

.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1 {
  margin-bottom: 0;
}

.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1.mentioned-Tre-dv:before {
  display: none;
}

.wrapper-30-Nkg.cozy-VmLDNB.groupStart-3Mlgv1 {
  padding: var(--message-padding-top) var(--message-padding-side) !important;
}

.wrapper-30-Nkg.cozy-VmLDNB:not(.groupStart-3Mlgv1) {
  margin-top: calc(var(--message-padding-top) * -1);
  padding: calc(var(--message-padding-top) / 2) var(--message-padding-side)
    var(--message-padding-top) var(--message-padding-side) !important;
}

.wrapper-30-Nkg.cozy-VmLDNB:not(.groupStart-3Mlgv1)
  + .divider-IqmEqJ:not(.beforeGroup-1BvJAt) {
  top: -4px;
}

.wrapper-30-Nkg.cozy-VmLDNB .header-2jRmjb {
  margin-bottom: 4px;
}

.wrapper-30-Nkg.cozy-VmLDNB .markup-eYLPri {
  margin-left: 0;
  padding-left: 0;
}

.wrapper-30-Nkg.cozy-VmLDNB:hover .timestamp-p1Df1m.alt-1dvXnH {
  opacity: 1;
  transition: var(--default-time) ease opacity 750ms;
}

.wrapper-30-Nkg.cozy-VmLDNB .timestamp-p1Df1m.alt-1dvXnH {
  opacity: 0;
  left: -64px;
  color: var(--text-muted);
  font-weight: 600;
  transition: var(--default-time) ease opacity 0ms;
}

.wrapper-30-Nkg.cozy-VmLDNB .removeAttachmentButton-1iO1qS {
  right: -4px;
}

.wrapper-30-Nkg.cozy-VmLDNB:not(.message-2CShn3) {
  margin: 16px 26px 0 68px;
  padding: var(--message-padding-top) var(--message-padding-side) !important;
  border-radius: var(--message-radius);
}

.wrapper-30-Nkg.cozy-VmLDNB:not(.message-2CShn3):before,
.wrapper-30-Nkg.cozy-VmLDNB:not(.message-2CShn3):after {
  display: none;
}

.wrapper-30-Nkg.cozy-VmLDNB:not(.message-2CShn3) .avatar-2e8lTP {
  top: 0;
  left: -63px;
}

.wrapper-30-Nkg.cozy-VmLDNB .repliedMessage-3Z6XBG:before {
  transform: translateX(42px);
}

.wrapper-30-Nkg.cozy-VmLDNB .repliedMessage-3Z6XBG .replyAvatar-sHd2sU,
.wrapper-30-Nkg.cozy-VmLDNB .repliedMessage-3Z6XBG .replyBadge-LMm_Ic,
.wrapper-30-Nkg.cozy-VmLDNB
  .repliedMessage-3Z6XBG
  .executedCommandAvatar-3oOnb1,
.wrapper-30-Nkg.cozy-VmLDNB
  .repliedMessage-3Z6XBG
  .userJoinSystemMessageIcon-3FQ_Mo {
  margin-left: 42px;
}

.wrapper-30-Nkg.compact-2Nkcau {
  margin-bottom: 0;
  padding-right: 8px !important;
}

.wrapper-30-Nkg.compact-2Nkcau.groupStart-3Mlgv1 {
  padding: 8px;
}

.wrapper-30-Nkg.compact-2Nkcau.groupStart-3Mlgv1 .avatar-2e8lTP {
  width: 1em;
  height: 1em;
  top: 0.18em;
  left: 0;
}

.wrapper-30-Nkg.compact-2Nkcau.groupStart-3Mlgv1.mentioned-Tre-dv:before {
  display: none;
}

.wrapper-30-Nkg.compact-2Nkcau.groupStart-3Mlgv1 + .divider-IqmEqJ {
  margin-bottom: -1px;
}

.wrapper-30-Nkg.compact-2Nkcau:not(.groupStart-3Mlgv1) {
  padding: 0 8px 8px 8px;
}

.wrapper-30-Nkg.compact-2Nkcau.hasThread-3h-KJV .contents-1UYEBX:before {
  display: none;
}

.wrapper-30-Nkg.compact-2Nkcau.hasThread-3h-KJV .content-vSHmMD {
  margin-left: 44px;
}

.wrapper-30-Nkg.compact-2Nkcau.hasThread-3h-KJV .spine-2vt3pM {
  display: none;
}

.wrapper-30-Nkg.compact-2Nkcau .header-2jRmjb {
  position: relative;
  left: -8px;
}

.wrapper-30-Nkg.compact-2Nkcau .timestamp-p1Df1m {
  width: 52px;
  margin-right: 16px;
  color: var(--text-muted);
}

.wrapper-30-Nkg.compact-2Nkcau + .divider-IqmEqJ {
  margin-left: 80px;
}

.wrapper-30-Nkg.compact-2Nkcau + .divider-IqmEqJ:not(.beforeGroup-1BvJAt) {
  top: -11px;
}

.wrapper-30-Nkg.compact-2Nkcau .repliedMessage-3Z6XBG {
  margin-left: calc(var(--timestamp-width) + 3.1rem + var(--text-indent));
}

.wrapper-30-Nkg.compact-2Nkcau
  + .wrapper-30-Nkg.compact-2Nkcau:not(.message-2CShn3) {
  margin: 16px 20px 0 70px;
}

.wrapper-30-Nkg.compact-2Nkcau .iconContainer-2rPbqG {
  margin-left: 4.5ch;
}

.wrapper-30-Nkg .slateTextArea-27tjG0 {
  padding-left: 12px !important;
}

.wrapper-30-Nkg.mentioned-Tre-dv .messageContent-2t3eCI {
  position: relative;
  padding: 0.25rem 1rem;
  background-color: rgba(255, 255, 0, 0.1);
  border-radius: var(--card-radius);
  transition: var(--default-time) var(--default-animation) background-color;
}

.wrapper-30-Nkg.mentioned-Tre-dv .messageContent-2t3eCI:hover {
  /* background-color: hsla(var(--mist-highlight), 1); */
}

.wrapper-30-Nkg.mentioned-Tre-dv .messageContent-2t3eCI a {
  color: hsl(var(--accent-hsl));
}

.wrapper-30-Nkg.mentioned-Tre-dv .messageContent-2t3eCI .wrapper-1ZcZW- {
  background-color: transparent;
}

.wrapper-30-Nkg.mentioned-Tre-dv .messageContent-2t3eCI .wrapper-1ZcZW-:before {
  display: none;
}

.wrapper-30-Nkg .messageContent-2t3eCI {
  overflow: visible;
}

.wrapper-30-Nkg .messageContent-2t3eCI .iconContainer-3WHKMP {
  width: 40px;
  top: -8px;
  left: calc((50px + var(--message-padding-side)) * -1);
}

.wrapper-30-Nkg .buttonContainer-2mjbvo,
.wrapper-30-Nkg .buttonContainer-1502pf {
  margin-top: 8px;
  margin-left: 0;
}

.wrapper-30-Nkg .buttonContainer-2mjbvo .button-ejjZWC,
.wrapper-30-Nkg .buttonContainer-1502pf .button-ejjZWC {
  --button-height: 24px;
  --button-padding: 0 6px;
}

.wrapper-30-Nkg .buttonContainer-2mjbvo .button-ejjZWC .text-xs-normal-3O7EaX,
.wrapper-30-Nkg .buttonContainer-1502pf .button-ejjZWC .text-xs-normal-3O7EaX {
  color: hsl(var(--accent-hsl)) !important;
}

.wrapper-30-Nkg .buttonContainer-2mjbvo .footerAction-cEV-Po,
.wrapper-30-Nkg .buttonContainer-1502pf .footerAction-cEV-Po {
  height: var(--button-height);
}

.wrapper-30-Nkg .buttonContainer-2mjbvo .footerAction-cEV-Po .footerIcon-3nJDhW,
.wrapper-30-Nkg
  .buttonContainer-1502pf
  .footerAction-cEV-Po
  .footerIcon-3nJDhW {
  color: hsl(var(--accent-hsl));
}

.wrapper-30-Nkg
  .buttonContainer-2mjbvo
  .footerAction-cEV-Po
  .footerIcon-3nJDhW
  path,
.wrapper-30-Nkg
  .buttonContainer-1502pf
  .footerAction-cEV-Po
  .footerIcon-3nJDhW
  path {
  fill: currentColor;
}

.wrapper-30-Nkg .dot-KVehus {
  margin: 0 4px;
}

.wrapper-30-Nkg .channelTextArea-1VQBuV .scrollableContainer-15eg7h {
  background-color: var(--input-color-alt);
  border-radius: var(--main-textarea-radius);
}

.avatarDecoration-34OC0G {
  top: 0;
  left: -54px;
}

.messageListItem-ZZ7v6g,
.quotedChatMessage-PxNsZi {
  margin-left: 68px;
  margin-right: 10px;
}

.messageListItem-ZZ7v6g:hover
  + .messageListItem-ZZ7v6g
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):before,
.messageListItem-ZZ7v6g:hover
  + .messageListItem-ZZ7v6g
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):after,
.messageListItem-ZZ7v6g:hover
  + .backgroundFlash-1X5jVs
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):before,
.messageListItem-ZZ7v6g:hover
  + .backgroundFlash-1X5jVs
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):after,
.backgroundFlash-1X5jVs:hover
  + .messageListItem-ZZ7v6g
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):before,
.backgroundFlash-1X5jVs:hover
  + .messageListItem-ZZ7v6g
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):after,
.backgroundFlash-1X5jVs:hover
  + .backgroundFlash-1X5jVs
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):before,
.backgroundFlash-1X5jVs:hover
  + .backgroundFlash-1X5jVs
  .wrapper-30-Nkg:not(.groupStart-3Mlgv1):after {
  background-color: var(--message-color-hover);
}

.operations-3q3u6E > a {
  color: hsl(var(--accent-hsl));
}

.scrollerSpacer-3AqkT9 {
  height: 20px;
}

.mention::selection {
  background: hsla(var(--accent-hsl), 0.5);
  color: var(--accent-text-color--material-you);
}

/* MESSAGES -> NEW MESSAGES DIVIDER */
.divider-IqmEqJ.isUnread-3Lojb- {
  margin: 0 0.875rem 0 80px;
  border-color: hsl(var(--accent-hsl));
}

.divider-IqmEqJ.isUnread-3Lojb- .unreadPill-3nEWYM {
  height: 28px;
  top: -15px;
  padding: 0 16px;
  background-color: var(--mist-accent-color);
  border-radius: 14px;
  /* box-shadow: var(--shadow-3dp); */
  font-size: 14px;
  font-weight: 500;
  text-transform: capitalize;
  color: #fff;
}

.divider-IqmEqJ.isUnread-3Lojb- .unreadPill-3nEWYM .unreadPillCap-2-iI4h {
  display: none;
}

.divider-IqmEqJ.isUnread-3Lojb-.hasContent-1y12-u .content-3spvdd {
  background-color: hsl(var(--accent-hsl));
  color: var(--accent-text-color--material-you);
}

.divider-IqmEqJ.hasContent-1y12-u {
  margin-left: 1rem;
}

/*
  *
  *	MESSAGE REACTIONS
  *
  */
.reactions-3ryImn {
  margin: 8px 0 0 0;
}
.reactions-3ryImn div:nth-last-child(2) .reactionBtn-3I19bq path {
  d: path(
    "M12,17.5C14.33,17.5 16.3,16.04 17.11,14H6.89C7.69,16.04 9.67,17.5 12,17.5M8.5,11A1.5,1.5 0 0,0 10,9.5A1.5,1.5 0 0,0 8.5,8A1.5,1.5 0 0,0 7,9.5A1.5,1.5 0 0,0 8.5,11M15.5,11A1.5,1.5 0 0,0 17,9.5A1.5,1.5 0 0,0 15.5,8A1.5,1.5 0 0,0 14,9.5A1.5,1.5 0 0,0 15.5,11M12,20A8,8 0 0,1 4,12A8,8 0 0,1 12,4A8,8 0 0,1 20,12A8,8 0 0,1 12,20M12,2C6.47,2 2,6.5 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"
  );
}
.reactions-3ryImn div:nth-last-child(2) .reactionBtn-3I19bq path ~ path {
  display: none;
}

.reaction-3vwAF2,
.reaction-102jx9 {
  background-color: transparent;
  border-radius: 8px;
  border-color: var(--separator-color);
}
.reaction-3vwAF2:hover,
.reaction-102jx9:hover {
  background-color: var(--menu-item-hover);
}
.reaction-3vwAF2.reactionMe-1PwQAc,
.reaction-102jx9.reactionMe-1PwQAc,
.reaction-3vwAF2.reactionMe-2zhiyZ,
.reaction-102jx9.reactionMe-2zhiyZ {
  background-color: hsla(var(--accent-hsl), 0.2);
  border-color: hsl(var(--accent-hsl));
}
.reaction-3vwAF2.reactionMe-1PwQAc .reactionCount-26U4As,
.reaction-102jx9.reactionMe-1PwQAc .reactionCount-26U4As,
.reaction-3vwAF2.reactionMe-2zhiyZ .reactionCount-26U4As,
.reaction-102jx9.reactionMe-2zhiyZ .reactionCount-26U4As,
.reaction-3vwAF2.reactionMe-1PwQAc .reactionCount-SWXh9W,
.reaction-102jx9.reactionMe-1PwQAc .reactionCount-SWXh9W,
.reaction-3vwAF2.reactionMe-2zhiyZ .reactionCount-SWXh9W,
.reaction-102jx9.reactionMe-2zhiyZ .reactionCount-SWXh9W {
  color: hsl(var(--accent-hsl));
}

/* MESSAGE REACTIONS -> REVERT BUTTONS TO REACTION STYLE */
.component-ifCTxY.lookFilled-1H2Jvj {
  --button-height: 28px;
  --button-padding: 0 8px;
  --button-background: var(--input-color-alt);
  --button-text-color: var(--input-text-color);
}
.component-ifCTxY.lookFilled-1H2Jvj .emoji {
  width: calc(var(--button-height) - 8px);
  height: calc(var(--button-height) - 8px);
}
.component-ifCTxY.lookFilled-1H2Jvj.colorBrand-2M3O3N {
  --button-background: hsl(var(--accent-hsl));
  --button-text-color: var(--accent-text-color--material-you);
}

.nonMediaAttachmentItem-1e7YaR + .nonMediaAttachmentItem-1e7YaR,
.nonMediaAttachmentsContainer-3s1dgm,
.mediaAttachmentsContainer-1WGRWy,
.container-2sjPya,
.markup-eYLPri code {
  margin-block: 6px;
}

.markup-eYLPri code {
  padding: 1rem 0.75rem;
}

/* ?Messages DM */

.messagesWrapper-RpOMA3,
.scrollerContent-2SW0kQ {
  background-color: var(--mist-background-primary);
}

/* ?Send Message block */

.form-3gdLxP {
  margin: 0;
  padding: 0;
}

.channelTextArea-1FufC0 {
  margin: 0;
}

.scrollableContainer-15eg7h {
  padding: 1.16rem;
  border-radius: 0;
  background-color: var(--mist-background-primary-alt);
}
.placeholder-1rCBhr,
.editor-H2NA06 {
  padding-left: 1rem !important;
}

/* ? Edit Message Form */

.wrapper-30-Nkg .channelTextArea-1VQBuV .scrollableContainer-15eg7h {
  border-radius: 6px;
  background-color: var(--background-primary);
}

.contents-2MsGLg .scrollableContainer-15eg7h {
  padding: 0.375rem;
}

/* !USER SETTINGS */

/* ?User Settings */

/* *Side bar */

.sidebar-nqHbhN {
  width: 18.75rem;
}

.wrapper-1_HaEi {
  background-color: var(--mist-background-primary);
}

/* *Setting List Item */

.side-1lrxIh .item-2GWPIy {
  padding-block: 0.75rem;
  transition: all 300ms cubic-bezier(0.4, 0, 0, 0.99);
}

.side-1lrxIh .item-2GWPIy:hover {
  padding-left: 1.5rem;
}

/* !Extras */

@keyframes custom-menu-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.layer-2BGhQ8 {
  animation: custom-menu-animation 300ms cubic-bezier(0.62, 0, 0.15, 1);
  transform-origin: top;
}
/* * Mic, headphones settings animation * */
.panels-3wFtMD > .container-YkUktl .flex-2S1XBF > :not(:last-child) {
  opacity: 0% !important;
  width: 0px;
  transition: all 200ms cubic-bezier(0.62, 0, 0.15, 1);
}

.panels-3wFtMD > .container-YkUktl:hover .flex-2S1XBF > :not(:last-child) {
  opacity: 100% !important;
  width: 32px;
}

.container-YkUktl {
  justify-content: space-between;
}

/* *New messages */
.newMessagesPill-2YdO-e,
.newMessagesClear-2LQVHt {
  background-color: var(--mist-accent-color) !important;
  /* box-shadow: var(--shadow-3dp); */
}

.newMessagesPill-2YdO-e {
  position: relative;
  padding: 9px 16px;
  border-radius: 18px;
}
.newMessagesPill-2YdO-e:after {
  position: absolute;
  content: " ";
  width: 40px;
  height: 36px;
  top: 0;
  right: -24px;
  z-index: -1;
}
.newMessagesPill-2YdO-e .defaultColor-1EVLSt {
  color: #fff;
}

.newMessagesClear-2LQVHt {
  margin-left: 8px;
  padding: 10px;
  border-radius: 18px;
  border-left: none;
}
.newMessagesClear-2LQVHt .newMessagesClearIcon-1hFLsw {
  color: #fff;
}

/* CHAT AREA -> NEW MESSAGES BAR */
.newMessagesBar-1hF-9G {
  top: 16px;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  box-shadow: none;
  opacity: 1;
  pointer-events: none;
  z-index: 4;
}
.newMessagesBar-1hF-9G .barButtonBase-Sk2mdB {
  height: unset;
  line-height: 18px;
  background-color: var(--mist-accent-color);
  color: #fff;
  /* box-shadow: var(--shadow-2dp); */
  pointer-events: all;
}
.newMessagesBar-1hF-9G .barButtonMain-2GIx4o {
  flex: 0 1 auto;
  padding: 9px 16px;
  border-radius: 18px;
  transition: all 100ms;
}

.newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ {
  transition: all 100ms;
}

.newMessagesBar-1hF-9G .barButtonMain-2GIx4o:hover {
  transform: scale(1.02);
}

.newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ:hover {
  transform: scale(1.1);
}

.newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ {
  position: relative;
  margin-left: 8px;
  padding: 9px 10px;
  border-radius: 18px;
  font-size: 0;
}
.newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ:before {
  position: absolute;
  content: " ";
  width: calc(var(--button-radius) * 2 + 8px);
  height: var(--button-height);
  top: 0;
  left: calc((var(--button-radius) + 8px) * -1);
  background-color: transparent;
  z-index: -1;
}
.newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ .barButtonIcon-bMvzp2 {
  top: 0;
  margin: 0;
}
.newMessagesBar-1hF-9G .barButtonAlt-TQoCdZ .barButtonIcon-bMvzp2 path {
  d: path(
    "M18 7l-1.41-1.41-6.34 6.34 1.41 1.41L18 7zm4.24-1.41L11.66 16.17 7.48 12l-1.41 1.41L11.66 19l12-12-1.42-1.41zM.41 13.41L6 19l1.41-1.41L1.83 12 .41 13.41z"
  );
}

/* !TAGS */
.contents-2MsGLg
  > .avatar-2e8lTP[src*="446890783748915210"]
  ~ h3
  .username-h_Y3Us::after {
  content: "Dev";
  padding: 0.1rem 0.5rem;
  background-color: var(--mist-accent-color);
  display: inline-block;
  transform: scale(0.7);
  font-weight: 800;
  margin-left: 0.1rem;
  border-radius: 3px;
  color: #fff;
}

.contents-2MsGLg
  > .avatar-2e8lTP[src*="318429104305209344"]
  ~ h3
  .username-h_Y3Us::after {
  content: "Badass";
  padding: 0.1rem 0.5rem;
  background-color: var(--candy-color);
  display: inline-block;
  transform: scale(0.7);
  font-weight: 800;
  margin-left: -0.3rem;
  border-radius: 3px;
  color: #fff;
}

/* .TEST */
